<!DOCTYPE html>
<html>

<head>
  <link rel="stylesheet" href="/styles.css" />
  <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet">
  <title>Ideas</title>
</head>

<body>
  <div id="admin">
    <h1>EDIT/DELETE IDEAS</h1>
    <p>Click on an idea to edit/delete it</p>
    <div id="activityButtons">
      <p>
        <button v-on:click="chooseSports">SPORTS</button>
        <button v-on:click="chooseHikes">HIKES</button>
        <button v-on:click="chooseDrives">DRIVES</button>
        <!--<button v-on:click="chooseAstronomy">ASTRONOMY</button>
        <button v-on:click="chooseMusic">MUSIC</button>-->
        <button v-on:click="chooseWut">WUT</button>
      </p>
    </div>
   <ul>
      <div class="edit" v-if="editingItem != ''">
        <label><h2>{{ editingItem.name }}</h2>
          <p v-if='editingItem.price'><i>{{ editingItem.price }}</i></p>
          <p v-if='editingItem.description'>{{ editingItem.description }}</p>
          <p v-if='editingItem.when'>When: {{ editingItem.when }}
          <p v-if='editingItem.directions'><a v-bind:href="editingItem.directions" onClick="editingItem.count += 1">Directions</a>
          <br><a v-bind:href="editingItem.googleDetails">Reviews</a></p>
        </label>
        <form v-on:submit.prevent="editItem">
          <input type="text" placeholder="Activity Name" v-model="newName">
          <input type="text" placeholder="Description" v-model="newDescription"><br>
          <input type="text" placeholder="When" v-model="newTime">
          <input type="text" placeholder="Price" v-model="newPrice">
          <br>
          <button type="submit">Edit</button>
        </form>
        <button v-on:click="deleteItem" type="submit">Delete</button>
        <button v-on:click="clearEntries" type="submit">Cancel</button>
      </div>
      <li v-if="editingItem == ''" v-for="item in selectedActivity">
        <label><h2>{{ item.name }}</h2>
          <p v-if='item.price'><i>{{ item.price }}</i></p>
          <p v-if='item.description'>{{ item.description }}</p>
          <p v-if='item.when'>When: {{ item.when }}
          <p v-if='item.directions'><a v-bind:href="item.directions" onClick="item.count += 1">Directions</a>
          <br><a v-bind:href="item.googleDetails">Reviews</a></p>
          <button v-on:click="selectItem(item)" class="select" style="display: none;"></button>
        </label>
      </li>
    </ul>
  </div>
  <div id='footer'>
    <hr>
    <a href="/">Home</a>
    <a href="https://github.com/ryanjo9/CS260/tree/master/proj4">Github Link</a>
  </div>
  <script src="https://unpkg.com/vue-star-rating/dist/star-rating.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vue@2.6.2/dist/vue.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.20.1/moment.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.18.0/axios.min.js" integrity="sha256-mpnrJ5DpEZZkwkE1ZgkEQQJW/46CSEh/STrZKOB/qoM=" crossorigin="anonymous"></script>
  <script src="/admin.js"></script>
</body>

</html>
