body {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    padding: 20px 100px 0px 100px;
    background: #f3f3f3;
    text-align: justify;
}
#activityButtons {
  margin-left: 5%;
}
/* List */
#intro p {
  max-width: 400px;
}
#admin h1 {
  padding-left: 5%;
}

#admin p {
  padding-left: 5%;
}

#edit {
  background: #fff;
  max-width: 400px;
  min-height: 30px;
  padding: 10px;
  margin-bottom: 10px;
  font-size: 1em;
  display: flex;/
  align-items: center;
}
ul {
    list-style: none;
}
li {
    background: #fff;
    max-width: 400px;
    min-height: 30px;
    padding: 10px;
    margin-bottom: 10px;
    font-size: 1em;
    display: flex;/
    align-items: center;
}
#app {
  padding-left: 25%;
}
#admin {
  padding-left: 25%;
}


label {
    width: 400px;
}

/* Form */

input[type=checkbox] {
    transform: scale(1.5);
    margin-right: 10px;
}

input[type=text] {
    font-size: 1em;
}

button {
    font-family: 'Arvo';
    font-size: 1em;
}

button{
  background:#1AAB8A;
  color:#fff;
  border:none;
  position:relative;
  height:30px;
  margin-top: 10px;
  min-width: 79px;
  font-size:1.0em;
  cursor:pointer;
  transition:800ms ease all;
  outline:none;
}
button:hover{
  background:#fff;
  color:#1AAB8A;
}
button:before,button:after{
  content:'';
  position:absolute;
  top:0;
  right:0;
  height:2px;
  width:0;
  background: #1AAB8A;
  transition:400ms ease all;
}
button:after{
  right:inherit;
  top:inherit;
  left:0;
  bottom:0;
}
button:hover:before,button:hover:after{
  width:100%;
  transition:800ms ease all;
}
